final deliverables/web_ui.json
[{"id":"dce59bb1b197e846","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"29e840d901135fd2","type":"debug","z":"dce59bb1b197e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":140,"wires":[]},{"id":"c1bae0273a02f744","type":"ibmiot in","z":"dce59bb1b197e846","authentication":"apiKey","apiKey":"65e8b07c8b314e54","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"GokulEsp32","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":150,"y":200,"wires":[["29e840d901135fd2","5b043998cdca8c53","4b56152a0169a71e","0a95aa0c09598668","8f96553a86aabad7"]]},{"id":"5b043998cdca8c53","type":"function","z":"dce59bb1b197e846","name":"Temp","func":"msg.payload=msg.payload.temp\nglobal.set(\"t\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":300,"wires":[["9839e45b5083a4f4","b3cf1e72b912870f","2d10b021817679d4"]]},{"id":"9839e45b5083a4f4","type":"ui_gauge","z":"dce59bb1b197e846","name":"","group":"bef2c6e7f6eac166","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"30","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":220,"wires":[]},{"id":"4b56152a0169a71e","type":"function","z":"dce59bb1b197e846","name":"pH","func":"msg.payload=msg.payload.pH\nglobal.set(\"p\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":360,"wires":[["b3cf1e72b912870f","ed93af9b46faef11","de2fcf253056e1de","dff3497162207c84"]]},{"id":"b3cf1e72b912870f","type":"ui_chart","z":"dce59bb1b197e846","name":"","group":"d633df785d60f78c","order":4,"width":7,"height":5,"label":"Tempchart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"temp","x":670,"y":160,"wires":[[]]},{"id":"cef2b9df42d00326","type":"http in","z":"dce59bb1b197e846","name":"Mit App","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":70,"y":700,"wires":[["de0c5ccb5a0c042e"]]},{"id":"de0c5ccb5a0c042e","type":"function","z":"dce59bb1b197e846","name":"event","func":"msg.payload={\"temp\":global.get(\"t\"),\"pH\":global.get(\"p\"),\"turb\":global.get(\"tu\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":700,"wires":[["cd4d58b914319ebd"]]},{"id":"cd4d58b914319ebd","type":"http response","z":"dce59bb1b197e846","name":"","statusCode":"","headers":{},"x":390,"y":700,"wires":[]},{"id":"0a95aa0c09598668","type":"function","z":"dce59bb1b197e846","name":"Turbidity","func":"msg.payload=msg.payload.turb\nglobal.set(\"tu\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":400,"wires":[["afbd902ecc12fc70","b3cf1e72b912870f","c1040d0c48eab14f","6b4fcbd80a06314c"]]},{"id":"afbd902ecc12fc70","type":"ui_gauge","z":"dce59bb1b197e846","name":"","group":"bef2c6e7f6eac166","order":1,"width":0,"height":0,"gtype":"gage","title":"Turbidity","label":"units","format":"{{value}}","min":"0","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":620,"y":440,"wires":[]},{"id":"036d350250483fe0","type":"e-mail","z":"dce59bb1b197e846","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ajayajay2001.09@gmail.com","dname":"","x":820,"y":660,"wires":[]},{"id":"42416ae236f9cf82","type":"function","z":"dce59bb1b197e846","name":"","func":"msg={\n    payload:\"Alert the water is not in good quality!\"+\"\\nTemp:\"+global.get(\"t\")+\"\\npH:\"+global.get(\"p\")+\"\\nTurbidity:\"+global.get(\"tu\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":540,"wires":[["bfa1fa65b3802702","3b7994850ba3ac45"]]},{"id":"bfa1fa65b3802702","type":"debug","z":"dce59bb1b197e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":540,"wires":[]},{"id":"2d10b021817679d4","type":"switch","z":"dce59bb1b197e846","name":"TempThresh","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":500,"wires":[["42416ae236f9cf82"]]},{"id":"3b7994850ba3ac45","type":"delay","z":"dce59bb1b197e846","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":770,"y":580,"wires":[["036d350250483fe0"]]},{"id":"ed93af9b46faef11","type":"switch","z":"dce59bb1b197e846","name":"pHThresh","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"6.5","vt":"num","v2":"8.5","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":560,"wires":[["42416ae236f9cf82"]]},{"id":"c1040d0c48eab14f","type":"switch","z":"dce59bb1b197e846","name":"TurbThresh","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":620,"wires":[["42416ae236f9cf82"]]},{"id":"de2fcf253056e1de","type":"ui_chart","z":"dce59bb1b197e846","name":"","group":"d633df785d60f78c","order":6,"width":7,"height":5,"label":"pHchart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":300,"wires":[[]]},{"id":"6b4fcbd80a06314c","type":"ui_chart","z":"dce59bb1b197e846","name":"","group":"d633df785d60f78c","order":1,"width":0,"height":0,"label":"turbChart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":400,"wires":[[]]},{"id":"1a403e1397246142","type":"ui_template","z":"dce59bb1b197e846","group":"bef2c6e7f6eac166","name":"","order":6,"width":0,"height":0,"format":"<style id=\"blue-dashboard\">\n\nbody.nr-dashboard-theme {\n    background: radial-gradient(circle, rgb(45 97 186) 0%, rgb(16 16 146) 40%, rgba(2,0,36,1) 100%);\n}\nbody.nr-dashboard-theme md-toolbar {\n   background: radial-gradient(circle, rgb(45 97 186) 0%, rgb(16 16 146) 40%, rgba(2,0,36,1) 100%);\n    color: #fff;\n}\nbody.nr-dashboard-theme md-sidenav {\n    color: rgb(215 223 245);\n    background: radial-gradient(circle, rgb(45 97 186) 0%, rgb(16 16 146) 40%, rgba(2,0,36,1) 100%);\n}\nbody.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n    color: rgb(215 223 245);\n    background-color: transparent;\n}\n.nr-dashboard-theme ui-card-panel {\n    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 100%);\n    border: none;\n    border-radius: 1em;\n    box-shadow: 0 0 1em 0em rgb(0 0 100 / 50%)\n}\nbody.nr-dashboard-theme md-content md-card {\n    background:transparent;\n    color: rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-template {\n    background:transparent;\n}\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: #6a99f1;\n    text-shadow: 1px 1px 0px rgb(0 0 0 / 50%);\n}\n.md-button{\n    border-radius:0.6em;\n    color:rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #053ea8;\n    color:rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #0646bd;\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:focus {\n    background-color: #0646bd;\n}\n.nr-dashboard-theme .nr-dashboard-numeric .value {\n    background:unset;\n    color:rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-form {\n    color:rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-form-button {\n    background-color: #053ea8;\n    color:rgb(215 223 245);\n}\n\n.nr-dashboard-theme .nr-dashboard-form-button:hover {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme .nr-dashboard-form-button:focus {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme md-input-container.md-default-theme .md-input, md-input-container .md-input {\n     color:rgb(215 223 245);\n    border-color: #074fd4 !important;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n    background-color: rgb(25 31 153);\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-bar {\n    background-color: rgb(94 94 177);\n    box-shadow: inset 0 0 1px #0000005e;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n    background-color: rgb(94 94 177);\n     box-shadow: 0 0 10px 0px #101086;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb {\n    background-color: rgb(61 107 232);\n    box-shadow: 0 0 10px 0px #101086;\n}\n.nr-dashboard-theme .nr-dashboard-slider .md-track {\n    background-color: rgb(125 172 249 / 35%);\n}\nmd-slider .md-thumb {\n    box-shadow: 0 0 10px 0px #101086;\n}\n\n.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n    background-color: #3d6be8;\n    border-color: #3d6be8;\n}\n\n.nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(0 0 0 / 12%);\n    color:rgb(215 223 245);\n    border-radius:0.8em;\n}\n\n.nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n    margin-top: -3px;\n    border-color: #eeeeee7a;\n    \n}\n.nr-dashboard-theme .md-select-menu-container {\n    max-height: 85%;\n    overflow-y: auto;\n    border: none;\n    border-radius: 0.8em;\n}\n.nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n\n}\n.nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(40 53 147);\n   \n    height: 29px;\n    border-radius: 0.6em;\n    margin-left: 10px;\n    margin-right: 10px;\n    margin-top: 2px;\n    box-shadow: 0 0 6px 6px #24202133;\n    transition: 0.3s;\n}\n.nr-dashboard-theme md-select-menu md-option[selected] {\n    color: rgb(130 177 255) !important;\n    background-color: rgb(27 90 197) !important;\n}\n.nr-dashboard-theme md-select-menu md-option:nth-child(even) {\n    background-color: rgb(31 31 152);\n}\n.nr-dashboard-theme md-select-menu md-option:last-child {\n   margin-bottom: 8px;\n}\n.nr-dashboard-theme md-select-menu md-option:hover {\n    background-color: rgb(20 91 211) !important;\n    padding-left: 26px;\n}\n.nr-dashboard-theme md-select-menu md-option > .md-ripple-container{\n     border-radius: 14px;\n}\n\n</style>\n    ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":900,"y":140,"wires":[[]]},{"id":"dff3497162207c84","type":"ui_gauge","z":"dce59bb1b197e846","name":"","group":"bef2c6e7f6eac166","order":5,"width":0,"height":0,"gtype":"gage","title":"pH","label":"units","format":"{{value}}","min":0,"max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":670,"y":340,"wires":[]},{"id":"8f96553a86aabad7","type":"function","z":"dce59bb1b197e846","name":"motorcmd","func":"msg.payload=msg.payload.motor\nglobal.set(\"cmd\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":460,"wires":[[]]},{"id":"c1ec7433c4bc61b5","type":"http in","z":"dce59bb1b197e846","name":"Motor","url":"/motor?motor","method":"get","upload":false,"swaggerDoc":"","x":130,"y":780,"wires":[["d5ab7bd9ac57d21e","3a93916515500144"]]},{"id":"d5ab7bd9ac57d21e","type":"ibmiot out","z":"dce59bb1b197e846","authentication":"apiKey","apiKey":"65e8b07c8b314e54","outputType":"evt","deviceId":"GokulEsp32","deviceType":"ESP32","eventCommandType":"motor","format":"json","data":"motorcmd","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":740,"wires":[]},{"id":"3a93916515500144","type":"http response","z":"dce59bb1b197e846","name":"","statusCode":"","headers":{},"x":430,"y":800,"wires":[]},{"id":"7df200000683703e","type":"ui_spacer","z":"dce59bb1b197e846","name":"spacer","group":"bef2c6e7f6eac166","order":2,"width":7,"height":1},{"id":"8ac15f63a1aa14d2","type":"ui_spacer","z":"dce59bb1b197e846","name":"spacer","group":"bef2c6e7f6eac166","order":3,"width":7,"height":1},{"id":"21a9c573c93b4dbe","type":"ui_spacer","z":"dce59bb1b197e846","name":"spacer","group":"d633df785d60f78c","order":2,"width":7,"height":1},{"id":"7094b7e9e0cdda16","type":"ui_spacer","z":"dce59bb1b197e846","name":"spacer","group":"d633df785d60f78c","order":3,"width":7,"height":1},{"id":"2d4dc0206f9d0654","type":"ui_spacer","z":"dce59bb1b197e846","name":"spacer","group":"d633df785d60f78c","order":5,"width":7,"height":1},{"id":"65e8b07c8b314e54","type":"ibmiot","name":"IBMIotAPIKey","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"bef2c6e7f6eac166","type":"ui_group","name":"FirstLayout","tab":"338664aeed40a1fc","order":2,"disp":true,"width":"7","collapse":false,"className":""},{"id":"d633df785d60f78c","type":"ui_group","name":"Chart","tab":"338664aeed40a1fc","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"338664aeed40a1fc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
